.item {
    border: 1px black
}
.item-1 {
background-color: aqua
}
.item-2 {
    background-color: crimson
}
.item-3 {
    background-color: chocolate
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
    background-color: #0D4F41;
}